﻿@*@model TraineeAspApp.Models.UserAuthentication*@

@{
    ViewData["Title"] = "Войти";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="SignIn" asp-controller="Home">
    <div>
        <div class="form-group" style="margin-bottom: 10px">
            <label asp-for="FullName"></label>
            <input type="text" asp-for="FullName" class="form-control form-control-sm" />
        </div>
        <div class="form-group" style="margin-bottom: 15px">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control  form-control-sm" type="password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>